*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: #87CEEB;
    font-family: Arial, sans-serif;
}
.info-bar{
    width: 100%;
    min-height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-radius: 12px;
}
#point, #timer {
    color:#D2691E;
    font-size: 24px;
    line-height: 26px;
}
.green-area{
    width: 100%;
    height: 60px;
    background-color: #5a9e3a;
    margin-top: 15vh;
}
.ground{
    width: 100%;
    height: calc(70vh - 60px);
    background-color: #A0522D;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.grid {
    width: 50%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.hole {
    width: 130px;
    height: 130px;
    background-color: #3E2212;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hole img {
    width: 100px;
    height: 100px;
}